.cabeza{
    h1{
        font-size: 40px;
        font-style: italic; color: #29006b;
    }
        display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
    img{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        }
        cabeza{
            img{
                justify-items: flex-end;
                
            }
        }        
}

.content-box{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;  
    img{
        width: 350px;
        height: 250px;
        border-radius: 10px;
    }
    padding: 10px;
    border: 2px solid #29006b;
    border-radius: 5px;

}
.box_2{
    display: flex;
    padding: 5%;
    img{
        width: 350px;
        height: 250px;
    }
}

.marco{
    display: flex;
    width: 200px;
    height: 250px;
    padding: 5%;
    border: 2px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    img{
        align-self: flex-start ;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    p{
        align-self: flex-end;
        justify-self: center;
    }
}
